.vscode/**
.vscode-test/**
src/**
shared/**
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/package.json
webview-ui/tsconfig.json
webview-ui/vite.config.ts
webview-ui/tailwind.config.js
webview-ui/postcss.config.js
webview-ui/index.html
node_modules/**
.gitignore
*.map
*.ts
!dist/**
tsconfig*.json
esbuild.config.mjs
pnpm-lock.yaml
